<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Paper reading list</title>
  <meta name="description" content="paper reading group up-vote written in Rocket.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.0/css/all.css" integrity="sha384-IYN7pAFISHrRvKFEQj8ZK8kLqeagNor3SUWowAWsAP+ILlwCdrqI4lAGcTmXmL5x" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <span class="icon">
            <i class="fas fa-glasses"></i>
          </span>
          <span><strong>Reading Group</strong></span>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/">
            <span class="icon">
              <i class="fas fa-list"></i>
            </span>
            <span>Papers</span>
          </a>

          <a class="navbar-item" href="/paper/ranking">
            <span class="icon">
              <i class="fas fa-trophy"></i>
            </span>
            <span>Ranking</span>
          </a>

          <a class="navbar-item" href="/paper/discussed">
            <span class="icon">
              <i class="fas fa-comments"></i>
            </span>
            <span>Discussed</span>
          </a>

          {% if cookie_info and cookie_info.is_admin %}
          <a class="navbar-item" href="/paper/admin">
            <span class="icon">
              <i class="fas fa-user-shield"></i>
            </span>
            <span>Admin</span>
          </a>
          {% endif %}

          <a class="navbar-item" href="/paper/add">
            <span class="icon">
              <i class="fas fa-plus-circle"></i>
            </span>
            <span>Add Paper</span>
          </a>
        </div>

        <div class="navbar-end">
          {% if cookie_info %}
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-light" href="/user/logout">
                  <span>Logout {{cookie_info.name}}</span>
                </a>
              </div>
            </div>
          {% else %}
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary" href="/user/register">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light" href="/user/login">
                  Log in
                </a>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </nav>

    <div class="section">
      <div class="container">
        {% block content %}{% endblock content %}
      </div>
    </div>

    <script src="/js/gh.js"></script>
</body>
</html>